body {
  background-color: #4FAEC4;
}

/* Intro Text*/
.intro {
    margin-top: 275px;
    position: absolute;
    margin-right: 914px;
    margin-left: 522px;
}


/* Animation*/
.wobble {
  animation-iteration-count: 1;
  animation-duration: 15s
}
/* New Game Button*/
.newgame {
  font-family:Orbitron;
  font-size: 25px;
  color: white;
  text-align: center;
}

/* Memory Text*/
.GameTitle {
  text-align: center;
color: white;
font-family:Orbitron;
font-weight: 400px;
font-size: 70px;
width: 380px;
}

a {
  text-decoration: none;
}
/* Easy Button*/
.parallelogram {
  border: 5px white solid;
   width: 300px;
   height: 65px;
   background: #4FAEC4;
   text-align: center;
   /* Skew */
   -webkit-transform: skew(-20deg);
   margin:20px;
}
/* Easy button hovers*/
.parallelogram:hover {
  border: 5px white solid;
   width: 300px;
   height: 65px;
   background: white;
   text-align: center;
   /* Skew */
   -webkit-transform: skew(-20deg);
   margin:20px;
}

.parallelogram2 {
  border: 5px white solid;
   width: 300px;
   height: 65px;
   background: #4FAEC4;
   text-align: center;
   /* Skew */
   -webkit-transform: skew(20deg);
   margin: 20px;
}

.parallelogram2:hover {
     border: 5px white solid;
      width: 300px;
      height: 65px;
      background: white;
      text-align: center;
      /* Skew */
      -webkit-transform: skew(20deg);
      margin: 20px;
    }

  .modetext {
      color:white;
      padding-top: 20px;
      font-family:Orbitron;
      font-size: 20px;
    }

  .modetext:hover {
    color: gray;
  }
