/* Page Structure*/


body {
  background-color: #3F51b5;
}

.gamewrapper {
  border: 1px dashed black;
  margin-bottom: 30px;
  margin-top: 50px;
  height: 600px;

}

.GameTitle {
  border: 1px solid black;
  text-align: center;
width: 380px;
margin-top: 50px;
margin-right: 922px;
margin-left: 540px;
color: white;
font-family:Orbitron;
font-weight: 400px;
font-size: 70px;
width: 380px;

}

.timer {
border: dotted 1px black;
text-align: right;
width: 75px;
margin-right: 922px;
margin-left: 980px;
color: white;
font-family:Orbitron;
width: 380px;
}

.lifebar {
border: dotted 1px black;
text-align: left;
width: 75px;
margin-right: 212px;
margin-left: 31px;
color: white;
font-family:Orbitron;
width: 380px;
font-size: 12px;
}

/*Card 1 and its flip */
.card {
  width: 230px;
  height: 230px;
  background: #7986cb;
  color: white;
  display: block;
  transition: background 1s, transform 1s;
  border-radius: 15px;
  padding: 5px, 5px, 5px, 5px;
  margin: 5px;

}


input {
  width:240px;
  height: 240px;
  display: none;

}

input:checked +.card {
  background: lightcoral;
  transform: rotateY(180deg);
}



.icon {
  color: #7986cb;
  font-size: 40px;
  height: 230px;
  width: 230px;
  padding-top: 75px;
  text-align: center;
  vertical-align: middle;
  line-height: 20px;
}

/*Card 2 and its flip */
.card2 {
  width: 230px;
  height: 230px;
  background: #7986cb;
  color: white;
  display: block;
  transition: background 1s, transform 1s;
  border-radius: 15px;

}


input {
  width:240px;
  height: 240px;
  display: none;

}

input:checked +.card2 {
  background: lightcoral;
  transform: rotateY(180deg);
}
