/* Body and Game Wrapper*/


body {
  background-color: #3F51b5;
}

.gamewrapper {
  margin-bottom: 30px;
  margin-top: 50px;
  margin-left: 30px;
  margin-right: 80px;
  position: absolute;

}

.flip {
  animation-iteration-count: 2;
}

audio {
   display:none;
}

.GameTitle {
  text-align: center;
width: 380px;
margin-top: 50px;
margin-right: 922px;
margin-left: 540px;
color: white;
font-family:Orbitron;
font-weight: 400px;
font-size: 70px;
width: 380px;

}
/* Timer*/
.timer {
text-align: right;
width: 75px;
margin-right: 922px;
margin-left: 980px;
color: white;
font-family:Orbitron;
width: 380px;
}

.lifebar {
text-align: left;
width: 75px;
margin-right: 212px;
margin-left: 31px;
color: white;
font-family:Orbitron;
width: 380px;
font-size: 12px;
}

/*The cards and their flip */
.card {
  width: 230px;
  height: 230px;
  background: #7986cb;
  color: white;
  display: block;
  transition: background 1s, transform 1s;
  border-radius: 15px;
  padding: 1px, 1px, 1px, 1px;
  margin: 1px;

}

/* Checkbox*/
input {
  width:240px;
  height: 240px;
  display: none;

}
/* When Clicked*/
input:checked +.card {
  background: #b8bdd6;
  transform: rotateY(180deg);
}


/* Icon Properties*/
.icon {
  color: #7986cb;
  font-size: 40px;
  height: 230px;
  width: 230px;
  padding-top: 75px;
  text-align: center;
  vertical-align: middle;
  line-height: 20px;
}
